{% apply spaceless %}
  <script type="text/javascript">
    if (document.currentScript) {
      var script = document.currentScript;
      var block = blockBreakpointGetClosestParent(script, '.block-breakpoint');
      if (block) {
        blockBreakpointMatchElement(block);
      }
    }
  </script>
{% endapply %}
